body,* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

#image-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}